
body {
	background-color: rgb(10, 61, 145));
    padding: 0;
}

.title {
	
             font-family: "Garamond", Courier, "Times New Roman";
             font-size: 40px;
             color: rgb(0, 0, 0);
             /*background-color: #444444;*/
             text-align: center;
            
           
/*             background-image: url("images/logosmall.jpg");
*/             background-repeat:no-repeat;
           background-position-x:center;
          
            background-size:contain;
}
.topnav {
             background-color: rgba(36, 153, 226, 0.5);
             overflow: hidden;
             padding: 0;
         }

             
             .topnav a {
                 float: left;
                 color: #f2f2f2;
                 text-align: center;
                 padding: 14px 16px;*/
                 text-decoration: none;
                 font-size: 17px;
             }

                
                 .topnav a:hover {
                     background-color: #ddd;
                     color: black;
                 }

                
                 .topnav a.active {
                     background-color: #4CAF50;
                     color: white;
                 }


.secondlayer {
    background-color: rgb(84, 137, 221);
   /* padding: 0;*/
}
         .topnav-right {
             float: right;
         }
         .currentprojects {
         	float: right;
            width: 30%;
            border: thin silver solid;
            margin: 0.5em;
            padding: 0.5em;
            text-align: center;
            font-style: italic;
            font-size: smaller;
            text-indent: 0;
         }
         figure {
         	display: inline-block;
         	width: 100%;
         	height: 100%;
         	background-color: #e7e3d8;
         	margin: 0px;
/*         	padding: 9px;
*/         	text-align: left;
         }
         figure img {
         	width: 100%;
         	height: 100%;
         }
         figcaption {
         	background-image: url("images/blackimage.jpg") no-repeat;
         	padding-left: 20px;
         }
         .mySlides {
            
            
             height: 50%;
             width: 50%;
         }

         .linktext {
            font-family: "Courier New", Courier, "Times New Roman";
            text-align: right;
            float: right;
         }
         .projectDis {
            text-align: : right;
         }
         .footer {
            text-align: center;
            float: center;
            font-family: "Courier New", Courier, "Times New Roman";
         }
         .aboutCSS {
            margin: 50px;
            padding: 50px;
         }